node_modules
dist
.DS_Store
coverage
.env
.env.*
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/deployments
chain/.localnet
chain/.localnet.log
chain/.testnet
chain/.testnet.log
chain/build
chain/ynxd
