node_modules
dist
.DS_Store
coverage
.env
.env.*
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/deployments
chain/.localnet
chain/.localnet.log
chain/.testnet
chain/.testnet.log
chain/.testnet-v2
chain/.testnet-v2.log
chain/.testnet-v2-multi
chain/.testnet-multi
chain/.release
chain/.release-v2
chain/.company-v2
chain/.artifacts
chain/build
chain/ynxd
chain/ynxd-*
infra/**/data
ops-logs
.idea
ops/social/.sessions
ops/
